<%= flash[:notice] %>
<%= form_with url:("/guesthouses/create") do |f| %>
    <%= f.label :写真 %>
　　<%= f.file_field :image %>
    <p></p>
    <h2><i>住所</i><p>都道府県</p></h2>
        <%=f.select(:prefecture, Guesthouse.prefectures) %>
    <h2>市区町村</h2>
        <input name="city" value="<%= @city %>" >
    <h2>番地</h2>
        <input name="address" value="<%= @eaddress %>" >
    <h2>アピールポイント</h2>
        <textarea name="appeal" value="<%= @appeal %>"></textarea>
    <input type='submit' value='投稿'>
<% end %>
