<!DOCTYPE html>
<html>
  <head>
    <title>GraduateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
      <div class="header_top">

        <% if @current_user %>
          <%= link_to('Graduateapp','/guesthouses/top') %>
        <% else %>  
          <%= link_to('Graduateapp','/') %>
        <% end %>

        <% if @current_user %>
          <%= link_to('募集','/guesthouses/recruit')%>
          <%= link_to(@current_user.name,'/users/new')%>
          <%= link_to('ログアウト','/users/logout', method: :post) %>
        <% else %>
          <%= link_to('ログイン','/users/again') %>
          <%= link_to('新規登録','/users/new') %>
        <% end %>

      </div>
    </header>

    <%= yield %>
  </body>
</html>
